In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('census.csv')

In [5]:
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [6]:
data.shape

(45222, 14)

In [9]:
data.shape[0]

45222

In [19]:
outcome= pd.DataFrame(data['income'])

In [22]:
data=data.drop('income',axis=1)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 13 columns):
age                45222 non-null int64
workclass          45222 non-null object
education_level    45222 non-null object
education-num      45222 non-null float64
marital-status     45222 non-null object
occupation         45222 non-null object
relationship       45222 non-null object
race               45222 non-null object
sex                45222 non-null object
capital-gain       45222 non-null float64
capital-loss       45222 non-null float64
hours-per-week     45222 non-null float64
native-country     45222 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 4.5+ MB

In [32]:
data_encode = pd.get_dummies(data)

In [33]:
print(data_encode)

       age  education-num  capital-gain  capital-loss  hours-per-week  \
0       39           13.0        2174.0           0.0            40.0
1       50           13.0           0.0           0.0            13.0
2       38            9.0           0.0           0.0            40.0
3       53            7.0           0.0           0.0            40.0
4       28           13.0           0.0           0.0            40.0
5       37           14.0           0.0           0.0            40.0
6       49            5.0           0.0           0.0            16.0
7       52            9.0           0.0           0.0            45.0
8       31           14.0       14084.0           0.0            50.0
9       42           13.0        5178.0           0.0            40.0
10      37           10.0           0.0           0.0            80.0
11      30           13.0           0.0           0.0            40.0
12      23           13.0           0.0           0.0            30.0
13      32           12.0           0.0           0.0            50.0
14      34            4.0           0.0           0.0            45.0
15      25            9.0           0.0           0.0            35.0
16      32            9.0           0.0           0.0            40.0
17      38            7.0           0.0           0.0            50.0
18      43           14.0           0.0           0.0            45.0
19      40           16.0           0.0           0.0            60.0
20      54            9.0           0.0           0.0            20.0
21      35            5.0           0.0           0.0            40.0
22      43            7.0           0.0        2042.0            40.0
23      59            9.0           0.0           0.0            40.0
24      56           13.0           0.0           0.0            40.0
25      19            9.0           0.0           0.0            40.0
26      39            9.0           0.0           0.0            80.0
27      49            9.0           0.0           0.0            40.0
28      23           12.0           0.0           0.0            52.0
29      20           10.0           0.0           0.0            44.0
...    ...            ...           ...           ...             ...
45192   25            9.0           0.0           0.0            40.0
45193   31            9.0           0.0           0.0            40.0
45194   49            9.0           0.0           0.0            40.0
45195   60           11.0        7688.0           0.0            40.0
45196   39           13.0           0.0        1669.0            40.0
45197   38           14.0           0.0           0.0            50.0
45198   43           14.0           0.0        1902.0            50.0
45199   23            9.0           0.0           0.0            40.0
45200   73           10.0           0.0           0.0            40.0
45201   35           10.0           0.0           0.0            40.0
45202   66            9.0           0.0           0.0             8.0
45203   27           10.0           0.0           0.0            45.0
45204   40           15.0       15024.0           0.0            55.0
45205   51            9.0           0.0           0.0            40.0
45206   22           10.0           0.0           0.0            40.0
45207   64            9.0           0.0           0.0            32.0
45208   55            9.0           0.0           0.0            32.0
45209   38           11.0           0.0           0.0            40.0
45210   58           12.0           0.0           0.0            36.0
45211   32            9.0           0.0           0.0            40.0
45212   48            9.0           0.0           0.0            40.0
45213   61            9.0           0.0           0.0            48.0
45214   31            9.0           0.0           0.0            40.0
45215   25            9.0           0.0           0.0            40.0
45216   48           14.0           0.0           0.0            40.0
45217   33           13.0           0.0           0.0            40.0
45218   39           13.0           0.0           0.0            36.0
45219   38           13.0           0.0           0.0            50.0
45220   44           13.0        5455.0           0.0            40.0
45221   35           13.0           0.0           0.0            60.0

       workclass_ Federal-gov  workclass_ Local-gov  workclass_ Private  \
0                           0                     0                   0
1                           0                     0                   0
2                           0                     0                   1
3                           0                     0                   1
4                           0                     0                   1
5                           0                     0                   1
6                           0                     0                   1
7                           0                     0                   0
8                           0                     0                   1
9                           0                     0                   1
10                          0                     0                   1
11                          0                     0                   0
12                          0                     0                   1
13                          0                     0                   1
14                          0                     0                   1
15                          0                     0                   0
16                          0                     0                   1
17                          0                     0                   1
18                          0                     0                   0
19                          0                     0                   1
20                          0                     0                   1
21                          1                     0                   0
22                          0                     0                   1
23                          0                     0                   1
24                          0                     1                   0
25                          0                     0                   1
26                          0                     0                   1
27                          0                     0                   1
28                          0                     1                   0
29                          0                     0                   1
...                       ...                   ...                 ...
45192                       0                     0                   1
45193                       0                     0                   1
45194                       0                     0                   0
45195                       0                     0                   1
45196                       0                     0                   1
45197                       0                     0                   1
45198                       0                     1                   0
45199                       0                     0                   1
45200                       0                     0                   0
45201                       0                     0                   1
45202                       0                     0                   1
45203                       0                     0                   1
45204                       0                     0                   1
45205                       0                     0                   1
45206                       0                     0                   1
45207                       0                     0                   0
45208                       0                     0                   1
45209                       0                     0                   1
45210                       0                     0                   1
45211                       0                     0                   1
45212                       0                     0                   1
45213                       0                     0                   1
45214                       0                     0                   1
45215                       0                     0                   1
45216                       0                     1                   0
45217                       0                     0                   1
45218                       0                     0                   1
45219                       0                     0                   1
45220                       0                     0                   1
45221                       0                     0                   0

       workclass_ Self-emp-inc  workclass_ Self-emp-not-inc  \
0                            0                            0
1                            0                            1
2                            0                            0
3                            0                            0
4                            0                            0
5                            0                            0
6                            0                            0
7                            0                            1
8                            0                            0
9                            0                            0
10                           0                            0
11                           0                            0
12                           0                            0
13                           0                            0
14                           0                            0
15                           0                            1
16                           0                            0
17                           0                            0
18                           0                            1
19                           0                            0
20                           0                            0
21                           0                            0
22                           0                            0
23                           0                            0
24                           0                            0
25                           0                            0
26                           0                            0
27                           0                            0
28                           0                            0
29                           0                            0
...                        ...                          ...
45192                        0                            0
45193                        0                            0
45194                        1                            0
45195                        0                            0
45196                        0                            0
45197                        0                            0
45198                        0                            0
45199                        0                            0
45200                        1                            0
45201                        0                            0
45202                        0                            0
45203                        0                            0
45204                        0                            0
45205                        0                            0
45206                        0                            0
45207                        0                            1
45208                        0                            0
45209                        0                            0
45210                        0                            0
45211                        0                            0
45212                        0                            0
45213                        0                            0
45214                        0                            0
45215                        0                            0
45216                        0                            0
45217                        0                            0
45218                        0                            0
45219                        0                            0
45220                        0                            0
45221                        1                            0

                  ...              native-country_ Portugal  \
0                 ...                                     0
1                 ...                                     0
2                 ...                                     0
3                 ...                                     0
4                 ...                                     0
5                 ...                                     0
6                 ...                                     0
7                 ...                                     0
8                 ...                                     0
9                 ...                                     0
10                ...                                     0
11                ...                                     0
12                ...                                     0
13                ...                                     0
14                ...                                     0
15                ...                                     0
16                ...                                     0
17                ...                                     0
18                ...                                     0
19                ...                                     0
20                ...                                     0
21                ...                                     0
22                ...                                     0
23                ...                                     0
24                ...                                     0
25                ...                                     0
26                ...                                     0
27                ...                                     0
28                ...                                     0
29                ...                                     0
...               ...                                   ...
45192             ...                                     0
45193             ...                                     0
45194             ...                                     0
45195             ...                                     0
45196             ...                                     0
45197             ...                                     0
45198             ...                                     0
45199             ...                                     0
45200             ...                                     0
45201             ...                                     0
45202             ...                                     0
45203             ...                                     0
45204             ...                                     0
45205             ...                                     0
45206             ...                                     0
45207             ...                                     0
45208             ...                                     0
45209             ...                                     0
45210             ...                                     0
45211             ...                                     0
45212             ...                                     0
45213             ...                                     0
45214             ...                                     0
45215             ...                                     0
45216             ...                                     0
45217             ...                                     0
45218             ...                                     0
45219             ...                                     0
45220             ...                                     0
45221             ...                                     0

       native-country_ Puerto-Rico  native-country_ Scotland  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         0
5                                0                         0
6                                0                         0
7                                0                         0
8                                0                         0
9                                0                         0
10                               0                         0
11                               0                         0
12                               0                         0
13                               0                         0
14                               0                         0
15                               0                         0
16                               0                         0
17                               0                         0
18                               0                         0
19                               0                         0
20                               0                         0
21                               0                         0
22                               0                         0
23                               0                         0
24                               0                         0
25                               0                         0
26                               0                         0
27                               0                         0
28                               0                         0
29                               0                         0
...                            ...                       ...
45192                            0                         0
45193                            0                         0
45194                            0                         0
45195                            0                         0
45196                            0                         0
45197                            0                         0
45198                            0                         0
45199                            0                         0
45200                            0                         0
45201                            0                         0
45202                            0                         0
45203                            0                         0
45204                            0                         0
45205                            0                         0
45206                            0                         0
45207                            0                         0
45208                            0                         0
45209                            0                         0
45210                            0                         0
45211                            0                         0
45212                            0                         0
45213                            0                         0
45214                            0                         0
45215                            0                         0
45216                            0                         0
45217                            0                         0
45218                            0                         0
45219                            0                         0
45220                            0                         0

In [48]:
darray=np.array(data)
print(data)

       age          workclass education_level  education-num  \
0       39          State-gov       Bachelors           13.0
1       50   Self-emp-not-inc       Bachelors           13.0
2       38            Private         HS-grad            9.0
3       53            Private            11th            7.0
4       28            Private       Bachelors           13.0
5       37            Private         Masters           14.0
6       49            Private             9th            5.0
7       52   Self-emp-not-inc         HS-grad            9.0
8       31            Private         Masters           14.0
9       42            Private       Bachelors           13.0
10      37            Private    Some-college           10.0
11      30          State-gov       Bachelors           13.0
12      23            Private       Bachelors           13.0
13      32            Private      Assoc-acdm           12.0
14      34            Private         7th-8th            4.0
15      25   Self-emp-not-inc         HS-grad            9.0
16      32            Private         HS-grad            9.0
17      38            Private            11th            7.0
18      43   Self-emp-not-inc         Masters           14.0
19      40            Private       Doctorate           16.0
20      54            Private         HS-grad            9.0
21      35        Federal-gov             9th            5.0
22      43            Private            11th            7.0
23      59            Private         HS-grad            9.0
24      56          Local-gov       Bachelors           13.0
25      19            Private         HS-grad            9.0
26      39            Private         HS-grad            9.0
27      49            Private         HS-grad            9.0
28      23          Local-gov      Assoc-acdm           12.0
29      20            Private    Some-college           10.0
...    ...                ...             ...            ...
45192   25            Private         HS-grad            9.0
45193   31            Private         HS-grad            9.0
45194   49       Self-emp-inc         HS-grad            9.0
45195   60            Private       Assoc-voc           11.0
45196   39            Private       Bachelors           13.0
45197   38            Private         Masters           14.0
45198   43          Local-gov         Masters           14.0
45199   23            Private         HS-grad            9.0
45200   73       Self-emp-inc    Some-college           10.0
45201   35            Private    Some-college           10.0
45202   66            Private         HS-grad            9.0
45203   27            Private    Some-college           10.0
45204   40            Private     Prof-school           15.0
45205   51            Private         HS-grad            9.0
45206   22            Private    Some-college           10.0
45207   64   Self-emp-not-inc         HS-grad            9.0
45208   55            Private         HS-grad            9.0
45209   38            Private       Assoc-voc           11.0
45210   58            Private      Assoc-acdm           12.0
45211   32            Private         HS-grad            9.0
45212   48            Private         HS-grad            9.0
45213   61            Private         HS-grad            9.0
45214   31            Private         HS-grad            9.0
45215   25            Private         HS-grad            9.0
45216   48          Local-gov         Masters           14.0
45217   33            Private       Bachelors           13.0
45218   39            Private       Bachelors           13.0
45219   38            Private       Bachelors           13.0
45220   44            Private       Bachelors           13.0
45221   35       Self-emp-inc       Bachelors           13.0

               marital-status          occupation     relationship  \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse    Transport-moving          Husband
15              Never-married     Farming-fishing        Own-child
16              Never-married   Machine-op-inspct        Unmarried
17         Married-civ-spouse               Sales          Husband
18                   Divorced     Exec-managerial        Unmarried
19         Married-civ-spouse      Prof-specialty          Husband
20                  Separated       Other-service        Unmarried
21         Married-civ-spouse     Farming-fishing          Husband
22         Married-civ-spouse    Transport-moving          Husband
23                   Divorced        Tech-support        Unmarried
24         Married-civ-spouse        Tech-support          Husband
25              Never-married        Craft-repair        Own-child
26                   Divorced     Exec-managerial    Not-in-family
27         Married-civ-spouse        Craft-repair          Husband
28              Never-married     Protective-serv    Not-in-family
29              Never-married               Sales        Own-child
...                       ...                 ...              ...
45192                Divorced   Machine-op-inspct    Not-in-family
45193           Never-married   Machine-op-inspct    Not-in-family
45194      Married-civ-spouse     Exec-managerial          Husband
45195      Married-civ-spouse      Prof-specialty          Husband
45196           Never-married        Tech-support    Not-in-family
45197      Married-civ-spouse      Prof-specialty          Husband
45198      Married-civ-spouse     Exec-managerial          Husband
45199           Never-married   Machine-op-inspct        Own-child
45200                Divorced     Exec-managerial    Not-in-family
45201      Married-civ-spouse     Protective-serv          Husband
45202                 Widowed               Sales   Other-relative
45203           Never-married               Sales    Not-in-family
45204      Married-civ-spouse      Prof-specialty          Husband
45205      Married-civ-spouse        Craft-repair          Husband
45206           Never-married        Craft-repair        Own-child
45207                 Widowed     Farming-fishing    Not-in-family
45208               Separated     Priv-house-serv    Not-in-family
45209           Never-married        Adm-clerical        Unmarried
45210                Divorced      Prof-specialty    Not-in-family
45211      Married-civ-spouse   Handlers-cleaners          Husband
45212      Married-civ-spouse        Adm-clerical          Husband
45213      Married-civ-spouse               Sales          Husband
45214      Married-civ-spouse        Craft-repair          Husband
45215           Never-married       Other-service        Own-child
45216                Divorced       Other-service    Not-in-family
45217           Never-married      Prof-specialty        Own-child
45218                Divorced      Prof-specialty    Not-in-family
45219      Married-civ-spouse      Prof-specialty          Husband
45220                Divorced        Adm-clerical        Own-child
45221      Married-civ-spouse     Exec-managerial          Husband

                      race      sex  capital-gain  capital-loss  \
0                    White     Male        2174.0           0.0
1                    White     Male           0.0           0.0
2                    White     Male           0.0           0.0
3                    Black     Male           0.0           0.0
4                    Black   Female           0.0           0.0
5                    White   Female           0.0           0.0
6                    Black   Female           0.0           0.0
7                    White     Male           0.0           0.0
8                    White   Female       14084.0           0.0
9                    White     Male        5178.0           0.0
10                   Black     Male           0.0           0.0
11      Asian-Pac-Islander     Male           0.0           0.0
12                   White   Female           0.0           0.0
13                   Black     Male           0.0           0.0
14      Amer-Indian-Eskimo     Male           0.0           0.0
15                   White     Male           0.0           0.0
16                   White     Male           0.0           0.0
17                   White     Male           0.0           0.0
18                   White   Female           0.0           0.0
19                   White     Male           0.0           0.0
20                   Black   Female           0.0           0.0
21                   Black     Male           0.0           0.0
22                   White     Male           0.0        2042.0
23                   White   Female           0.0           0.0
24                   White     Male           0.0           0.0
25                   White     Male           0.0           0.0
26                   White     Male           0.0           0.0
27                   White     Male           0.0           0.0
28                   White     Male           0.0           0.0
29                   Black     Male           0.0           0.0
...                    ...      ...           ...           ...
45192                Black     Male           0.0           0.0
45193                White     Male           0.0           0.0
45194                White     Male           0.0           0.0
45195                White     Male        7688.0           0.0
45196                White   Female           0.0        1669.0
45197                White     Male           0.0           0.0
45198                White     Male           0.0        1902.0
45199                White     Male           0.0           0.0
45200                White   Female           0.0           0.0
45201                White     Male           0.0           0.0
45202                White   Female           0.0           0.0
45203                White   Female           0.0           0.0
45204                White     Male       15024.0           0.0
45205                White     Male           0.0           0.0
45206                White     Male           0.0           0.0
45207                White     Male           0.0           0.0
45208                White   Female           0.0           0.0
45209                Black   Female           0.0           0.0
45210                White     Male           0.0           0.0
45211                White     Male           0.0           0.0
45212                White     Male           0.0           0.0
45213                White     Male           0.0           0.0
45214                White     Male           0.0           0.0
45215                White   Female           0.0           0.0
45216                White     Male           0.0           0.0
45217                White     Male           0.0           0.0
45218                White   Female           0.0           0.0
45219                White     Male           0.0           0.0
45220   Asian-Pac-Islander     Male        5455.0           0.0
45221                White     Male           0.0           0.0

       hours-per-week  native-country
0                40.0   United-States
1                13.0   United-States
2                40.0   United-States
3                40.0   United-States
4                40.0            Cuba
5                40.0   United-States
6                16.0         Jamaica
7                45.0   United-States
8                50.0   United-States
9                40.0   United-States
10               80.0   United-States
11               40.0           India
12               30.0   United-States
13               50.0   United-States
14               45.0          Mexico
15               35.0   United-States
16               40.0   United-States
17               50.0   United-States
18               45.0   United-States
19               60.0   United-States
20               20.0   United-States
21               40.0   United-States
22               40.0   United-States
23               40.0   United-States
24               40.0   United-States
25               40.0   United-States
26               80.0   United-States
27               40.0   United-States
28               52.0   United-States
29               44.0   United-States
...               ...             ...
45192            40.0   United-States
45193            40.0   United-States
45194            40.0          Canada
45195            40.0   United-States
45196            40.0   United-States
45197            50.0   United-States
45198            50.0   United-States
45199            40.0   United-States
45200            40.0   United-States
45201            40.0   United-States
45202             8.0   United-States
45203            45.0   United-States
45204            55.0   United-States
45205            40.0   United-States
45206            40.0   United-States
45207            32.0   United-States
45208            32.0   United-States
45209            40.0   United-States
45210            36.0   United-States
45211            40.0   United-States
45212            40.0   United-States
45213            48.0   United-States
45214            40.0   United-States
45215            40.0   United-States
45216            40.0   United-States
45217            40.0   United-States
45218            36.0   United-States
45219            50.0   United-States
45220            40.0   United-States
45221            60.0   United-States

[45222 rows x 13 columns]

In [80]:
print(darray[:300])

[[39 ' State-gov' ' Bachelors' ... 0.0 40.0 ' United-States']
 [50 ' Self-emp-not-inc' ' Bachelors' ... 0.0 13.0 ' United-States']
 [38 ' Private' ' HS-grad' ... 0.0 40.0 ' United-States']
 ...
 [39 ' Self-emp-not-inc' ' HS-grad' ... 0.0 40.0 ' United-States']
 [43 ' Private' ' Some-college' ... 1485.0 50.0 ' United-States']
 [35 ' Private' ' HS-grad' ... 0.0 45.0 ' United-States']]